#header {
    margin: 0px;
    display: flex;
}

.pageContainer {
    width: 1200px;
    margin: 0 auto;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    
    color: black;
    text-align: center;
    width: 150px;
    height: 100px;
    background: lightseagreen;
}

#logo img {
    padding: 10px 0px;
    width: 60px;
    height: 80px;
}

#slogan {
    font-style: italic;
    position: relative;
    top: -20px;
}

#welcomeBanner {
    display: inline-block;
    font-size: 19px; 
    
    color: black;
    text-align: center;
    width: 900px;
    height: 100px;
    background: lightseagreen;
}

#mainContent {
    margin: 0px;
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: lightgrey;
}

#top {
    margin: 0px;
    width: 1200px;
    height: auto;
    display: flex;
}
#bottom {
    margin: 10px;
    width: 1200px;
    height: auto;
    display: flex;
}

#playersArea {
    list-style-type: none;
    background: lightcyan;
    margin: 0;
    padding: 0;
    flex-basis: 15%;
}
#teamsHeader {
    display: flex;
    text-decoration: underline;
    font: bold 18px Helvetica, Sans-Serif; 
    padding: 2px 5px;
    margin: 0px 25px;
    width: auto;
    height: 20px;
}
.teamName {
    display: flex;
    padding: 0px 5px;
    font: bold 18px Helvetica, Sans-Serif; 
    margin: 20px 0;
    width: auto;
    height: 30px;
}
#questionSpace {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#QImage {
    width: 800px;
    height: 800px;
}
#counter {
    position: relative;
    bottom: 805px;
    left: 710px;
    width: 100%;
}
#counterText {
    background: lightcoral;
    border-radius: 45px;
    border: 2px solid black;
    color: white;
    font: bold 48px/90px Helvetica, Sans-Serif; 
    letter-spacing: 1px;  
    width: 100px;
    height: 100px;
    padding: 10px;
}

#resultsSpace {
    background-color: steelblue;
    position: relative;
    top: 520px;
    width: 220px;
    height: 260px;
    padding: 10px;
    color: black;
    font: bold 24px Helvetica, Sans-Serif; 
}
#resultsSpace span {
    position: relative;
    width: 175px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    top: -20px;
}

#graphArea {
    color: black;
    font: bold 14px Helvetica, Sans-Serif; 
    background-color: azure;
    width: 200px;
    height: 200px;
    padding: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#Abar {
    background-color: purple;
    width: 40px;
    height: 1px;
}
#Bbar {
    background-color: red;
    width: 40px;
    height: 1px;
}
#Cbar {
    background-color: blue;
    width: 40px;
    height: 1px;}
#Dbar {
    background-color: yellow;
    width: 40px;
    height: 1px;
}
.barLabel {
    position: relative;
    top: -30px;
    left: 15px;
}

#footer {
    color: black;
    text-align: center;
    width: 1200px;
    height: 50px;
    background: lightseagreen;
}